{% extends 'base.html.twig' %}

{% block title %}Participation index{% endblock %}

{% block body %}
    <h1>Participation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenoms</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Club</th>
                <th>NombrePlace</th>
                <th>Montant</th>
                <th>Reference</th>
                <th>Slug</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participation in participations %}
            <tr>
                <td>{{ participation.id }}</td>
                <td>{{ participation.nom }}</td>
                <td>{{ participation.prenoms }}</td>
                <td>{{ participation.email }}</td>
                <td>{{ participation.contact }}</td>
                <td>{{ participation.club }}</td>
                <td>{{ participation.nombrePlace }}</td>
                <td>{{ participation.montant }}</td>
                <td>{{ participation.reference }}</td>
                <td>{{ participation.slug }}</td>
                <td>{{ participation.createdAt ? participation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_participation_show', {'reference': participation.reference}) }}">show</a>
                    <a href="{{ path('app_participation_edit', {'id': participation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_participation_new') }}">Create new</a>
{% endblock %}
