<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Rotary Abidjan Bietry : {% endblock %}</title>
    <link rel="icon" href="{{ absolute_url(asset('build/images/favicon.png')) }}">
    <meta name="keywords" content="Roatary, Bietry "  />
    <meta name="description" content="Rotary Abidjan Bietry : Rentrée solennelle 2022-2023" />
    <meta name="revisit" content="7 days" />
    <meta name="revisit-after" content="7 days">
    <meta name="Author" content="Rotary Abidjan Bietry, Delrodie AMOIKON">
    <meta name="Copyright" content="rotaryabidjanbietry.org">
    <meta name="Content-Language" content="FR">
    <meta name="distribution" content="global" />
    <meta name="Audience" content="All" />
    <meta name="Robots" content="full">

    <link rel="canonical" href="http://rentree2223.rotaryabidjanbietry.org/" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Participation à la rentrée solennelle 2022-2023 Abidjan Bietry" />
    <meta property="og:description" content="Rotary Abidjan Bietry : Rentrée solennelle 2022-2023" />
    <meta property="og:url" content="http://rentree2223.rotrayabidjanbietry.org/" />
    <meta property="og:site_name" content="Rotary Abidjan Bietry" />
    <meta property="article:section" content="Item" />
    <meta property="article:published_time" content="2018-01-20T15:25:59+00:00" />
    <meta property="og:image" content="{{ absolute_url(asset('build/images/fanion.jpg')) }}" />
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="Rotary Abidjan Bietry : Rentrée solennelle 2022-2023"/>
    <meta name="twitter:title" content="Participation à la rentrée solennelle 2022-2023 Abidjan Bietry"/>
    <meta name="twitter:domain" content="http://rentree2223.rotaryabidjanbietry.org/"/>
    <meta name="twitter:image:src" content="{{ absolute_url(asset('build/images/fanion.jpg')) }}"/>
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="body">
<div class="container">
    {% block body %}{% endblock %}
</div>


{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    {{ encore_entry_script_tags('app') }}
    <script>
        AOS.init();
    </script>
{% endblock %}
</body>
</html>
